.macbook {
    Width: 1440px;
    Height: 500px;
    background: #9DBEBB;
    display: flex;
    justify-self: center;
}

.invite-form {
    background-color: #182625;
    color: #FEFFFF;
    Width: 954px;
    Height: 594px;
    display: flex;
    max-width: 100%;
    margin-left: 308px;
    margin-top: 153px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

}

.full_name {
    display: block;
    width: 500px;
}

.all_text {
    margin-left: 150px;
    margin-top: 64px;
    padding-top: 55px;
}

.animate__heartBeat {
    animation: infinite;
}


.tobias_douglas{
    width: 500px;
    height: 594px;
    padding-left: 100px;
}

.animation {

    position: relative;
    animation-name: example;
    animation-duration: 6s;

    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes example {

    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}